---
import Action from "@/components/Action.astro";
import Background from "../components/Background.astro";
import { urls } from "../config/constants";

interface Props {
	data: {
		title: string;
		subTitle: string;
		primaryCta: string;
		highlightedTitle?: string;
	};
}

const { data } = Astro.props;
---

<section id="hero-section" class="flex justify-center min-h-screen relative">
	<Background />
	<div class="md:w-1/2 mt-56 mb-12">
		<h1
			class="text-4xl leading-tight text-center font-semibold md:text-5xl md:leading-tight uppercase"
			data-aos="fade-up"
		>
			{data.title}
			<span class="text-primary whitespace-nowrap">
				{data.highlightedTitle}
			</span>
		</h1>
		<h2
			class="mt-10 text-lg text-center opacity-80 md:text-2xl max-w-80 mx-auto"
			data-aos="fade-up"
		>
			{data.subTitle}
		</h2>
		<div class="flex justify-evenly mt-10" data-aos="fade-up">
			<Action as="a" type="button" href={urls.catalog}>
				{data.primaryCta}
			</Action>
		</div>
		<div class="flex justify-center">
			<Action
				as="a"
				class="flex justify-center items-center animate-bounce bg-gradient-to-b from-primary to-secondary text-white rounded-full w-14 h-14 mt-20 transition"
				href="#services-section"
				title="arrow down icon"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-8 h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"></path>
				</svg>
			</Action>
		</div>
	</div>
</section>
